<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Your Uploads</title>
  <link rel="stylesheet" href="/css/ecostyle.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
    integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
  <%- include('../partials/nav') %>

    <!-- Page Title -->
    <section>
      <h2>Your uploads</h2>
      <br>
    </section>

    <!-- Product Cards -->
    <section>
      <% products.forEach(product=> { %>
        <div class="product-card">
          <img src="/images/<%= product.imageURL %>" alt="Bamboo Plates">
          <div class="product-details">
            <h3>
              <%= product.name %>
            </h3>
            <p>
              <%= product.description %>
            </p>
            <p class="price">₹<%= product.price %>
            </p>
          </div>
          <form action="/host/delete-product/<%= product.id %>" method="POST">
            <button type="submit" class="delete">DELETE</button>
          </form>
          <button class="add-to-cart-btn">EDIT</button>
        </div>
        <% }) %>
    </section>

    <%- include('../partials/footer') %>

</body>

<script>
  function toggleMenu() {
    const navLinks = document.getElementById('nav-links');
    navLinks.classList.toggle('show');
  }
</script>

</html>